[Unit]
Description=OSD start Service
After=syslog.target

[Service]
Type=simple
ExecStart= ceph-osd -i 0 -f
Restart=always

[Install]
WantedBy=multi-user.target
