[Unit]
Description= Ceph OSD 0 start Service
After=syslog.target

[Service]
Type=simple
ExecStart= /usr/bin/ceph-osd -i 0 -f
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
