[Unit]
Description=OSD start Service
After=syslog.target

[Service]
Type=simple
ExecStart= /usr/bin/ceph-osd -i 0 -d
Restart=always

[Install]
WantedBy=multi-user.target
