version: '3'
services:
  mon.ceph.wator.xyz:
    image: ceph/daemon
    hostname: node4.ceph.wator.xyz
    volumes:
      - /ceph/master/etc:/etc/ceph
      - /ceph/master/ganesha:/etc/ganesha
      - /ceph/master/mon:/var/lib/ceph
      - /ceph/master/log:/var/log/ceph
    environment:
      - MON_NAME=node4.ceph.wator.xyz
      - MON_IP=[2400:2412:13e0:9d00:8639:beff:fe67:dcc9]
      - CEPH_PUBLIC_NETWORK=2400:2412:13e0:9d00::/64
      - CEPH_CLUSTER_NETWORK=2400:2412:13e0:9d00::/64
    command: mon
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 256M
  
  mds.node4.ceph.wator.xyz:
    image: ceph/daemon
    hostname: node4.ceph.wator.xyz
    volumes:
      - /ceph/master/etc:/etc/ceph
      - /ceph/master/ganesha:/etc/ganesha
      - /ceph/master/mon:/var/lib/ceph
      - /ceph/master/log:/var/log/ceph/
    environment:
      - MDS_NAME=mds.node4.ceph.wator.xyz
      - CEPHFS_CREATE=1
    command: mds
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 256M

  mgr.node4.ceph.wator.xyz:
    image: ceph/daemon
    hostname: node4.ceph.wator.xyz
    volumes:
      - /ceph/master/etc:/etc/ceph
      - /ceph/master/mon:/var/lib/ceph
      - /ceph/master/log:/var/log/ceph/
    command: mgr
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 256M
    
networks:
  outside:
    external:
      name: "host"


