version: '3'
services:
  mon.node3.ceph.wator.xyz:
    image: ceph/daemon
    network_mode: "host"
    volumes:
      - ./etc/ceph:/etc/ceph
      - /ceph/storage1/mon:/var/lib/ceph
    environment:
      - MON_IP=2400:2412:13e0:9d00:2ce:39ff:fece:132
      - CEPH_PUBLIC_NETWORK=2400:2412:13e0:9d00:2ce:39ff:fece:132
    command: mon
    restart: always
 
