version: '3'
services:
  osd1:
    image: ceph/daemon
    hostname: node4.ceph.wator.xyz
    volumes:
      - /ceph/master/deploy/etc:/etc/ceph
      - /ceph/master/deploy/ceph:/var/lib/ceph
      - /ceph/master/deploy/log:/var/log/ceph
      - /ceph/storage1/osd:/var/lib/ceph/osd
    environment:
      - OSD_TYPE=directory
      - HOSTNAME=[2400:2412:13e0:9d00:8639:beff:fe67:dcc9]
    command: osd
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 256M    

  osd2:
    image: ceph/daemon
    hostname: node4.ceph.wator.xyz
    volumes:
      - /ceph/master/deploy/etc:/etc/ceph
      - /ceph/master/deploy/ceph:/var/lib/ceph
      - /ceph/master/deploy/log:/var/log/ceph
      - /ceph/storage2/osd:/var/lib/ceph/osd
    environment:
      - OSD_TYPE=directory
      - HOSTNAME=[2400:2412:13e0:9d00:8639:beff:fe67:dcc9]
    command: osd
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 256M    
 
  osd3:
    image: ceph/daemon
    hostname: node4.ceph.wator.xyz
    volumes:
      - /ceph/master/deploy/etc:/etc/ceph
      - /ceph/master/deploy/ceph:/var/lib/ceph
      - /ceph/master/deploy/log:/var/log/ceph
      - /ceph/storage3/osd:/var/lib/ceph/osd
    environment:
      - OSD_TYPE=directory
      - HOSTNAME=[2400:2412:13e0:9d00:8639:beff:fe67:dcc9]
    command: osd
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 256M    

networks:
  outside:
    external:
      name: "host"

